.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ipad{
 
    position: absolute;
    height: 350px;
    width: 600px;
  
    background-size: contain;
    background-repeat: no-repeat;
}
#ipad{
  background-image: url('./static/ipad2.png');
}
#ipad2{
  background-image: url('./static/ipadwithhostel.png');
}
#ipad3{
  background-image: url('./static/ipadblue.png');
}
/* #epad1{
  background-image: url('./files/static/edu1.jpg');
}
#epad2{
  background-image: url('./files/static/edu2.jpg');
} */
.startpro1{
  margin-bottom: 65px;
}
.divintrotoproj{
  display: flex;
  justify-content: center;
}
.prosgpdiv{
  margin-top: 50px;
}
.teenphone{
  margin-left: 100px;
  width: 100%;
  height: 70%;
}
.teenphone2{
  margin-left: 100px;
  width: 90%;
  height: 70%;
  margin-top: 30px;
}
.teenphone3{
  
  width: 90%;
  height: 70%;
  
}
.feature_list{
list-style: disc;
}
.feature_list_li{
  font-size: 125%;
  font-family: sans-serif;

  line-height: 1.65;
}
.pj_tech{
  /* margin-top: 50px; */
  /* display: flex; */
  /* justify-content: center; */
  padding: 0 10%;
}
.pj_t_first{
  display: flex;
  align-items: center;
  margin: 20px;
  margin-left: 45px;
}
.pj_t_first2{
 
  margin: 20px;
  margin-left: 10px;
}
.pj_tech_head{
      font-family: Noto Sans;
    font-size: 100%;
    color: #181717;
    margin-left: 40px;
}
.pj_tech_head2{
     
    margin-left: 0px;
}
.vla{
  vertical-align: inherit;
}
.skillicon{
  /* width: 80%; */

}
.thirdjenkins{
  margin-top: 100px;
}
.mpimg{
  width: 340px;
}

.more_projects{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.mpm1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mpname{
  font-size: 109%;
  font-family: 'Poppins';
  font-weight: bold;
  color: #3d3737;
}
.more_project_heading{
  margin-top: 50px;
  padding: 5% 0 2% 12%;
}



@media (max-width:767px){
  .anctagl{
    background-color: white!important;
    background-color: white!important;
    margin: 2px;
    color: black;
  }
}
@media (max-width:700px){
.ipad{
  width: 100%;
  /* height: auto; */
}
.teenphone{
  margin-left: 0;
}
.teenphone2{
  margin: 0px;
  width: 90%;
  height: 66%;
}
/* .teenphone3{
  margin: 0px;
  width: 90%;
  height: 66%;
} */
.thirdjenkins{
  margin-top: 50px;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
