
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Kavoon&family=Noto+Sans:wght@600;900&family=Open+Sans:wght@300;600&family=Poppins&family=Roboto:wght@500&family=Rubik:wght@400;500&family=Signika:wght@600&family=Ubuntu:wght@300;400;500;700&display=swap');

  #footer,body{
    transition: all ease-in-out 0.8s;
  }
.innerone{
    background: url('./static/abc.jpg');
    width: 900px;
    height: 600px;
}
.outerone{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftop{
    margin-top: 150px;
}
.basicintro{
    margin: 5rem;
}
.headingop{
    font-size: 125%;
    color: #86868c;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heads{
    color: #86868c;
    font-weight: 500; 
}
.linetext{
    font-family: sans-serif;
    font-size: 190%;
    line-height: 1.65;

}
.conspa{
    font-family: Signika;
    font-size: 40px;
}
.gitbtn{
    font-size: 20px;
    font-family: Signika;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 30px;
    transition: all ease-in-out 0.3s;
}
.gitbtn:hover{
    background-color: #1a1a1a;
    color: white;
}
.circle:hover{
    background-color: #1a1a1a;
    color: white;
    transition: background-color ease-in-out 0.4s;
    transition: color ease-in-out 0.4s;
}
.gitbtn:hover .gitimg{
    background-color: white;
    padding: 1px;
    border-radius: 20px;
    margin-bottom: 1px;
}
.gitimg{
    width: 20px;
    margin: 0px 5px 0 10px;
    padding: 1px;
}
.twrem{
    padding: 0rem 20%;
    margin: 100px 0;
}
.att_det{
    padding: 0rem 20%;
    margin-top: -50px;
}
.nameofp{
    color: #1a1a1a;
    font-weight: bold;
    font-size: 350%;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
    
}
.featuresheading{
    margin-bottom: 100px;
}
.roomdiv{
    width: 100%;
    display: flex;
}
.roomleft{
    width: 50%;
}
.roomright{
    width: 50%;
}

.roomtext{
    margin-bottom: 100px;
}
.gatepass,.attendance{
    margin-top: 200px;
}
.fte2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.featureheads{
    font-family: Poppins;
    letter-spacing: 5px;
    font-size: 250%;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
.roomimg,.gateimg{
display: flex;
justify-content: center;
}
.att_img{
display: flex;
justify-content: flex-end;
margin-right: 30px;
}
.att_img2{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}
.firstgatepassdiv,.secondgatepassdiv,.attendancediv{
    display: flex;
    justify-content: center;
}
.gateleft,.gateright,.gatelefts,.gaterights,.aleft,.aright{
    width: 50%;
}
.glcontent{
    padding: 5% 20%;
}
.headgen{
    font-size: 150%;
    color: #86868c;
    font-weight: 500;
}
.gengtext{
    font-family: sans-serif;
    font-size: 150%;
    line-height: 1.65;
}
.attendancediv{
    margin-top: 150px;
}
.atl{
    font-size: 180%;
    line-height: 1.35;
    margin-bottom: 0;
}
.cah{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.aiss{
    margin-left: 20px;
}
.techdiv{
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0rem 15%;
}
.titemdiv{
    width: 150px;
    height: 150px;
    /* background-color: black; */
    margin: 20px;
}
.popoverdiv{
    background: rgb(255, 255, 255);
    width: 250px;
    height: 125px;
    margin-top: -100px;
    margin-left: -55px;
    opacity: 0;
    position: absolute;
    transition: all linear 0.4s;
   
    z-index: 1;
   
}
.popinternal{
    padding: 10px 10px 5px 18px;
}

.tech_desc{
    margin: 0;
}
.titemdiv:hover .titem_img{

    transform: scale(1.3);
}
.titemdiv:hover .popoverdiv{
opacity: 1;
margin-top: -130px;

/* transform: translateY(-30px); */

}
.titem_img{
    position: relative;
    width: 125px;
    height: 125px;
    transition: all ease-in-out 0.3s;
   
}
#demo{
    margin-bottom: 300px;
}
.demo{
    transition: all ease-in-out 0.5s;
}
.bigcircle{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;   
}
.circle{
        background-color: white;
        box-shadow: 17px 20px 25px 0px #cdcdcd;;
        margin-bottom: 100px;
    width: 351px;
    height: 351px;
    border-radius: 174px;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media(max-width:900px){
    .circle{
        width: min(250px,90vw);
        height: min(250px,90vw);

    }
    .conspa{
        font-size: 150%;
    }
    .roomdiv,.firstgatepassdiv,.attendancediv,.cah{
        flex-direction: column;
    }
    .secondgatepassdiv{
        flex-direction: column-reverse;
    }
    .roomleft,.roomright,.gateleft,.gateright,.gatelefts,.gaterights,.aleft,.aright{
        width: 100%;
    }
    .roomimg,.gateimg,.att_img,.att_img2{
        height: 100vw;
    }
}
@media(max-width:600px){
    .roomdiv,.firstgatepassdiv,.attendancediv,.cah{
        flex-direction: column;
    }
    .aiss{
        margin: 0;
    }
    .secondgatepassdiv{
        flex-direction: column-reverse;
    }
    .roomleft,.roomright,.gateleft,.gateright,.gatelefts,.gaterights,.aleft,.aright{
        width: 100%;
    }
    .roomimg,.gateimg,.att_img,.att_img2{
        height: 100vw;
    }
    .featureheads{
        font-size: 170%;
    }
    .glcontent{
        padding: 25px;
    }
    .aspectpar{
        width: 90%!important;
        height: 300px!important;
    }
    .twrem{
        padding: 0 25px;
        margin: 0;
    }
    .kft{
        margin-top: 50px;
    }
    .attendancediv{
        margin-top: 100px;
        
    }
    .att_det{
        padding: 5%;
    }
    .linetext{
        font-size: 150%;
    }
    .techdiv{
        margin: 10px;
    }
    .titemdiv{
        width: 90px;
        height: 90px;
        margin: 10px;
    }
    .titem_img{
      
        width: 90px;
        height: 90px;
      
    }
}